{% extends 'base.html' %}
{% load static %}

{% block title %}
Detail kapely
{% endblock %}

{% block content %}
    <h1>Detail kapely: {{ kapela.name }}</h1>
    <p>Zanr:
        {% for zanr in kapela.zanr.all %}
            {{ zanr.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Neznámý
        {% endfor %}
    </p>
    <p>Clenove:
        {% for clen in kapela.clenove.all %}
            {{ clen.name }} {{ clen.surname }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Neznámí
        {% endfor %}
    </p>
    <p>Počet členů: {{ kapela.pocet_clenu }}</p>
{% endblock %}