@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  background-image: url('/static/images/pozadi_obrazek.jpg');
  background-repeat: repeat;
  background-size:inherit;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.list {
  max-width: 500px;
  width: 100%;
  background: #e9e9e9a7;
  margin: 50px auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.forma {
  width: 100%;
}

.zadavani {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.zadavani label {
  width: 170px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.vstup {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.zadavani p {
  margin-right: 20%;
  font-size: 16px;
  margin-left: 100px;
  margin-top: 10px;
  color: #757575;
}

input.souhlas {
  width: 30px;
  height: 30px;
}

.pridat {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 2px;
  background-color: #fec107;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}

.pridat:hover {
  background-color: #d7a409;
  font-size: 20px;
}

.zadavani:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black
}

#souhlas {
  accent-color: #fec107;
}
